## LiveLoad/Search template for TRAC
## Expected Context Parameters:
##      query - where a TRAC name is like ${query}
##      limit - Limit the return list to 'TOP $limit'
##


##Default limit clause
#set( $limitResults = "" )
## Default where clause
#set( $whereClause = "" )

## Create the where clause if $query is set
#if( ${MCC} )
    #set( $whereClause = "WHERE MCC = '${MCC}'" )
#end

#set( $selectColumns = "OPERATOR,MNC" )

## Create the TOP clause if $limit is set
#if( ${limit} )
    #set( $limitResults = "TOP ${limit}" )
#end

SELECT ${limitResults} * FROM (
	## Ericsson Nodes
    SELECT DISTINCT $selectColumns from DIM_E_SGEH_MCCMNC $whereClause
) AS results ORDER BY OPERATOR,MNC ASC