## LiveLoad/Search template for MSC
## Expected Context Parameters:
##      query - where a MSC name is like ${query}
##      limit - Limit the return list to 'TOP $limit'
##

## Nodes
#set( $dimTable = "DIM_E_MSS_EVNTSRC" )
#set( $nameColumn = "EVENT_SOURCE_NAME" )

##Default limit clause
#set( $limitResults = "" )
## Default where clause
#set( $whereClause = "" )

## Create the where clause if $query is set
#if( ${query} )
    #set( $whereClause = "WHERE ${nameColumn} LIKE '${query}'" )
#end

## Create the TOP clause if $limit is set
#if( ${limit} )
    #set( $limitResults = "TOP ${limit}" )
#end

SELECT DISTINCT ${limitResults} ${nameColumn} from ${dimTable} ${whereClause} order by ${nameColumn}
