#DEFINE_CONSTANTS()
#set($cptRefForSgeh="DIM_E_SGEH_CAUSE_PROT_TYPE")
#set($cptRefForLte="DIM_E_LTE_CAUSE_PROT_TYPE")

#macro(CCAS_QUERY_BY_CC $errTable $ccTable $cptTable)
(
select	
	errRef.CAUSE_CODE,
	isnull(CAUSE_CODE_DESC, 'CAUSE_CODE_DESCRIPTION_NOT_AVAILABLE') || ' (' || isnull(CAUSE_PROT_TYPE_DESC, 'PROTOCOL_TYPE_DESCRIPTION_NOT_AVAILABLE') || ')' as CAUSE_CODE_DESC,
	errRef.CAUSE_PROT_TYPE, 
	count(*),
	IMSI
from
	dc.${errTable} errRef,
	dc.${ccTable} ccref,
	dc.${cptTable} cptref
	#GROUP_TABLE_INFO()
where
	#if(!$errTable.contains("_DAY")&& $timerange == "TR_4")
		#GET_DATE_RANGE_LOCAL()
	#else
		#GET_DATETIME_RANGE()
	#end
	#GROUP_OR_SINGLE_INFO()
	and #GET_TAC_EXCLUSION()
	and errRef.CAUSE_CODE *= ccref.CAUSE_CODE 
	and errRef.CAUSE_PROT_TYPE *= ccref.CAUSE_PROT_TYPE 
	and errRef.CAUSE_PROT_TYPE *= cptref.CAUSE_PROT_TYPE 
	and CAST(errRef.CAUSE_CODE AS VARCHAR)+'_'+CAST(errRef.CAUSE_PROT_TYPE AS VARCHAR) in ($causeCodeIds)
group by
    IMSI,
	errRef.CAUSE_CODE,
	CAUSE_CODE_DESC,
	errRef.CAUSE_PROT_TYPE
)
#end

select
	err.CAUSE_CODE as CAUSE_CODE,
	err.CAUSE_CODE_DESC as CAUSE_CODE_DESC,
	err.CAUSE_PROT_TYPE as CAUSE_PROT_TYPE,
	sum(isnull(err.NO_OF_ERRORS, 0)) as NO_OF_ERRORS,
	isnull(count(distinct(IMSI)),0) as TOTAL_NO_OF_SUBSCRIBERS
from 
(
	#foreach ($errtable in $rawErrTables)
		#if ($errtable.toString().indexOf($ApplicationConstants.SGEH) > -1)
			#CCAS_QUERY_BY_CC($errtable $ccRefForSgeh $cptRefForSgeh)	
		#else
			#CCAS_QUERY_BY_CC($errtable $ccRefForLte $cptRefForLte)
		#end
		#if($velocityCount < $rawErrTables.size())
			union all
		#end
	#end
) as err (CAUSE_CODE, CAUSE_CODE_DESC, CAUSE_PROT_TYPE, NO_OF_ERRORS, IMSI)
group by
	err.CAUSE_CODE,
	err.CAUSE_CODE_DESC,
	err.CAUSE_PROT_TYPE
order by
	err.CAUSE_CODE